In [2]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data = pd.read_csv("data/mouse_drug_data.csv", delimiter=',')
clinical_trial_data = pd.read_csv("data/clinicaltrial_data.csv", delimiter=',')

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse_drug_data.head(20)

   Mouse ID      Drug
0      f234  Stelasyn
1      x402  Stelasyn
2      a492  Stelasyn
3      w540  Stelasyn
4      v764  Stelasyn
5      o848  Stelasyn
6      z314  Stelasyn
7      g989  Stelasyn
8      m269  Stelasyn
9      a963  Stelasyn
10     t451  Stelasyn
11     p981  Stelasyn
12     k510  Stelasyn
13     h333  Stelasyn
14     c402  Stelasyn
15     j984  Stelasyn
16     w697  Stelasyn
17     s619  Stelasyn
18     g867  Stelasyn
19     k862  Stelasyn

In [3]:
# Combine the data into a single dataset
total_data = pd.merge(mouse_drug_data, clinical_trial_data, on='Mouse ID', how='outer')
total_data.head(10)

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2
5     f234  Stelasyn         25           52.178602                 2
6     f234  Stelasyn         30           56.873817                 2
7     f234  Stelasyn         35           57.748758                 2
8     x402  Stelasyn          0           45.000000                 0
9     x402  Stelasyn          5           46.327570                 1

In [4]:
# Display the data table for preview

## Tumor Response to Treatment

In [5]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
# Convert to DataFrame
# Preview DataFrame
grouped_data = total_data.groupby(['Drug','Timepoint'])
mean_data = grouped_data.mean()
mean_data.head(20)

                     Tumor Volume (mm3)  Metastatic Sites
Drug      Timepoint
Capomulin 0                   45.000000          0.000000
          5                   44.266086          0.160000
          10                  43.084291          0.320000
          15                  42.064317          0.375000
          20                  40.716325          0.652174
          25                  39.939528          0.818182
          30                  38.769339          1.090909
          35                  37.816839          1.181818
          40                  36.958001          1.380952
          45                  36.236114          1.476190
Ceftamin  0                   45.000000          0.000000
          5                   46.503051          0.380952
          10                  48.285125          0.600000
          15                  50.094055          0.789474
          20                  52.157049          1.111111
          25                  54.287674          1.500000
          30                  56.769517          1.937500
          35                  58.827548          2.071429
          40                  61.467895          2.357143
          45                  64.132421          2.692308

In [6]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
# Convert to DataFrame
# Preview DataFrame
from scipy.stats import sem
error_data = grouped_data.sem()
error_data.head(20)

                     Metastatic Sites  Mouse ID  Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                  0.000000       NaN            0.000000
          5                  0.074833       NaN            0.448593
          10                 0.125433       NaN            0.702684
          15                 0.132048       NaN            0.838617
          20                 0.161621       NaN            0.909731
          25                 0.181818       NaN            0.881642
          30                 0.172944       NaN            0.934460
          35                 0.169496       NaN            1.052241
          40                 0.175610       NaN            1.223608
          45                 0.202591       NaN            1.223977
Ceftamin  0                  0.000000       NaN            0.000000
          5                  0.108588       NaN            0.164505
          10                 0.152177       NaN            0.236144
          15                 0.180625       NaN            0.332053
          20                 0.241034       NaN            0.359482
          25                 0.258831       NaN            0.439356
          30                 0.249479       NaN            0.490620
          35                 0.266526       NaN            0.692248
          40                 0.289128       NaN            0.708505
          45                 0.286101       NaN            0.902358

In [9]:
#combine data sets to get a single DataFrame
mean_data['Tumor Volume SEM'] = error_data['Tumor Volume (mm3)']
mean_data['Metastatic SEM'] = error_data['Metastatic Sites']
mean_data.head(20)

                     Tumor Volume (mm3)  Metastatic Sites  Tumor Volume SEM  \
Drug      Timepoint
Capomulin 0                   45.000000          0.000000          0.000000
          5                   44.266086          0.160000          0.448593
          10                  43.084291          0.320000          0.702684
          15                  42.064317          0.375000          0.838617
          20                  40.716325          0.652174          0.909731
          25                  39.939528          0.818182          0.881642
          30                  38.769339          1.090909          0.934460
          35                  37.816839          1.181818          1.052241
          40                  36.958001          1.380952          1.223608
          45                  36.236114          1.476190          1.223977
Ceftamin  0                   45.000000          0.000000          0.000000
          5                   46.503051          0.380952          0.164505
          10                  48.285125          0.600000          0.236144
          15                  50.094055          0.789474          0.332053
          20                  52.157049          1.111111          0.359482
          25                  54.287674          1.500000          0.439356
          30                  56.769517          1.937500          0.490620
          35                  58.827548          2.071429          0.692248
          40                  61.467895          2.357143          0.708505
          45                  64.132421          2.692308          0.902358

                     Metastatic SEM
Drug      Timepoint
Capomulin 0                0.000000
          5                0.074833
          10               0.125433
          15               0.132048
          20               0.161621
          25               0.181818
          30               0.172944
          35               0.169496
          40               0.175610
          45               0.202591
Ceftamin  0                0.000000
          5                0.108588
          10               0.152177
          15               0.180625
          20               0.241034
          25               0.258831
          30               0.249479
          35               0.266526
          40               0.289128
          45               0.286101

In [8]:
# Minor Data Munging to Re-Format the Data Frames
# Preview that Reformatting worked
mean_tumor_data = mean_data[Tumor Volume (mm3)']

SyntaxError: invalid syntax (<ipython-input-8-5c4e1815af9e>, line 3)

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
5,44.266086,46.503051,47.062001,47.389175,46.796098,47.125589,47.248967,43.944859,47.527452,46.851818
10,43.084291,48.285125,49.403909,49.582269,48.694210,49.423329,49.101541,42.531957,49.463844,48.689881
15,42.064317,50.094055,51.296397,52.399974,50.933018,51.359742,51.067318,41.495061,51.529409,50.779059
20,40.716325,52.157049,53.197691,54.920935,53.644087,54.364417,53.346737,40.238325,54.067395,53.170334

In [ ]:
# Generate the Plot (with Error Bars)

# Save the Figure

In [ ]:
# Show the Figure
plt.show()

![Tumor Response to Treatment](../Images/treatment.png)

## Metastatic Response to Treatment

In [ ]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.160000
          10                 0.320000
          15                 0.375000
          20                 0.652174

In [ ]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.074833
          10                 0.125433
          15                 0.132048
          20                 0.161621

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
5,44.266086,46.503051,47.062001,47.389175,46.796098,47.125589,47.248967,43.944859,47.527452,46.851818
10,43.084291,48.285125,49.403909,49.582269,48.694210,49.423329,49.101541,42.531957,49.463844,48.689881
15,42.064317,50.094055,51.296397,52.399974,50.933018,51.359742,51.067318,41.495061,51.529409,50.779059
20,40.716325,52.157049,53.197691,54.920935,53.644087,54.364417,53.346737,40.238325,54.067395,53.170334

In [ ]:
# Generate the Plot (with Error Bars)

# Save the Figure

# Show the Figure

![Metastatic Spread During Treatment](../Images/spread.png)

## Survival Rates

In [ ]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)

# Convert to DataFrame

# Preview DataFrame

        Drug  Timepoint  Mouse Count
0  Capomulin          0           25
1  Capomulin          5           25
2  Capomulin         10           25
3  Capomulin         15           24
4  Capomulin         20           23

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview the Data Frame

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,25,25,25,25,25,25,26,25,26,25
5,25,21,25,23,23,24,25,25,25,24
10,25,20,21,22,21,24,23,24,23,22
15,24,19,21,19,21,20,17,24,23,21
20,23,18,20,19,20,19,17,23,21,17

In [ ]:
# Generate the Plot (Accounting for percentages)

# Save the Figure

# Show the Figure
plt.show()

![Metastatic Spread During Treatment](../Images/survival.png)

## Summary Bar Graph

In [ ]:
# Calculate the percent changes for each drug

# Display the data to confirm

Drug
Capomulin   -19.475303
Ceftamin     42.516492
Infubinol    46.123472
Ketapril     57.028795
Naftisol     53.923347
Placebo      51.297960
Propriva     47.241175
Ramicane    -22.320900
Stelasyn     52.085134
Zoniferol    46.579751
dtype: float64

In [ ]:
# Store all Relevant Percent Changes into a Tuple


# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure
fig.show()

![Metastatic Spread During Treatment](../Images/change.png)